<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Darwin Studios es un salón de eventos y complejo de locaciones que surge de la reconversión de una fábrica antigua en pleno Palermo.">
    <meta name="keywords" content="set, locación, jornada de filmación, rodaje, streaming, estudio, fotografía, estudio de tv, venue, darwin studios, darwin estudios">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Solway:wght@700&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d71332221e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div>
        <div v-show="show" id="loader" v-show="show"></div>
        <header class="header">
            <ul id="menuDesp" class="header-container">
                <li><a href="{% url 'Home' %}"><img class="logo" src="{% static 'img/isoB.png'%}"></a></li>
                <li>
                    <i><a class="fab fa-instagram icon" href="https://www.instagram.com/darwin_studios/" target=_blank></a></i>
                    <i id="menuIcon" class="icon fas fa-bars" :class="iconoMenu" @click="desplegarMenu"></i>
                    <nav id="menu" :class="menuClass">
                        <ul class="nav">
                            <li><a href="https://darwinstudios2020.herokuapp.com/#explora">ESPACIOS</a></li>
                            <li><a href="{% url 'Producciones' %}">PRODUCCIONES</a></li>
                            <li><a href="{% url 'Nosotros' %}">NOSOTROS</a></li>
                            <li><a href="{% url 'Contacto' %}">CONTACTO</a></li>
                        </ul>
                    </nav> 
                </li>   
            </ul>
        </header>
        <main>
            <div id="whatsapp">
                <div id="hablemos"> <a href="https://api.whatsapp.com/send?phone=+541162896589" target=_blank>Hablemos</a></div>
                <div id="logo-Whatsapp"> <a class="fab fa-whatsapp" href="https://api.whatsapp.com/send?phone=+541123456789" target=_blank></a></div>
            </div>
    {% block main %}    
    {% endblock %}
    </main>
    <footer>
        <div class="footercontainer">
            <p><a target=blank_ href="https://www.google.com.ar/maps/place/Darwin+Studios/@-34.5855648,-58.4455463,15z/data=!4m5!3m4!1s0x95bcb58cbad0b66f:0x6500ed544b3d4673!8m2!3d-34.5888237!4d-58.4368656">Niceto Vega 5350 </a>| Palermo | Buenos Aires | Argentina | info@darwinstudios.com.ar</a></p>
            <p id="firma">Sitio web desarrollado por Mercedes Vera Sotelo</p>
        </div>
    </footer>
</div>
</body>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
</html>