{% extends "base.html" %}
{% load static %}
{% block title %}Contacto | Darwin Studios{% endblock %}
{% block main %}
    <div class="contacto">
        <section class="info">
            <h4>CONTACTO</h4>
            <p>NICETO VEGA 5350</p>
            <p>PALERMO | CABA | ARGENTINA</p>
            <p><a href="mailto:info@clubbar.com.ar?subject:Consulta">info@darwin-studios.com</a></p>
            <p>+54 9 1162896589</p>
        </section>
        <section class="formulario">
            {% if formulario.errors %}
                <p style="color:red">Por favor, revisa este campo</p>
            {% endif %}
            <form method="POST" action="">{% csrf_token %}
                {{ formulario.as_table}}
                <input type="submit" value="ENVIAR">
                <br>
                <div>{{confirmacion}}</div>
            </form>
        </section>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13138.941026736866!2d-58.4455463!3d-34.5855648!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58cbad0b66f%3A0x6500ed544b3d4673!2sDarwin%20Studios!5e0!3m2!1ses-419!2sar!4v1611622143028!5m2!1ses-419!2sar" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </div>
{% endblock %}