{% extends "base.html" %}
{% load static %}
{% block title %}Espacios | Darwin Studios{% endblock %}
{% block main %}
    <section id="espacios">
        <h1>ESPACIOS</h1>
        <h5>Somos un complejo amplio y versátil, adaptable a cualquier tipo de acción y formato</h5>
        <div class="grid">
            <div @click="infoEspacio(0)" class="grid-elem" style="background-image:url('{% static 'img/Niceto.png'%}')"><div class="filter"></div><div>NAVE NICETO</div></div>
            <div @click="infoEspacio(1)" class="grid-elem" style="background-image:url('{% static 'img/Darwin.png'%}')"><div class="filter"></div><div>NAVE DARWIN</div></div>
            <div @click="infoEspacio(2)"class="grid-elem" style="background-image:url('{% static 'img/Fabrica.png'%}')"><div class="filter"></div><div>NAVE FÁBRICA</div></div>  
            <div @click="infoEspacio(3)" class="grid-elem" style="background-image:url('{% static 'img/NaveHall.jpg'%}')"><div class="filter"></div><div>HALL</div></div>
            <div @click="infoEspacio(4)" class="grid-elem" style="background-image:url('{% static 'img/StudioD.png'%}')"><div class="filter"></div><div>D STUDIO</div></div>
            <div @click="infoEspacio(5)" class="grid-elem" style="background-image:url('{% static 'img/Studio1+1.png'%}')"><div class="filter"></div><div>1+1 STUDIO</div></div>                
            <div @click="infoEspacio(6)" class="grid-elem" style="background-image:url('{% static 'img/Exteriores.jpg'%}')"><div class="filter"></div><div>EXTERIORES</div></div>
            <div @click="infoEspacio(7)" class="grid-elem" style="background-image:url('{% static 'img/Terraza.png'%}')"><div class="filter"></div><div>TERRAZA Y DEPÓSITOS</div></div>
            <div class="pop-up" v-show="popUp" @click="cerrarCuadro()">
                <div class="cuadro">
                    <img v-bind:src="imagenEspacio" v-bind:alt="titulo" v-bind:title="titulo">
                    <div class="texto">
                        <h4>{[titulo]}</h4>
                        <br>
                        <p v-for="(val) in caracteristica">{[val]}</p>
                    </div>
                        <div class="cerrarCuadro icon fas fa-times" @click="cerrarCuadro()" tabindex="0"></div>
            </div>
        </div>
    </section>
{% endblock %}