{% extends "base.html" %}
{% load static %}
{% block title %}Darwin Studios{% endblock %}
{% block main %}
    <section id="home">
        <video alt="Darwin Studios" autoplay loop muted preload="auto" data-mobile-video>
            <source type="video/mp4" src= "{% static 'img/darwin_presentacion.mp4' %}">
            <source type="video/webm" src="img/darwin_presentacion.webm">
        </video>           
        <div id="textoSuperpuesto"><p>Espacios al servicio de tu historia</p></div>            
        <a href="#explora" class="ver-mas"><p>Ver más</p><div class="fas fa-long-arrow-alt-down"></div></a>
        <!--<div class="home">
            <img class="fs-images" id="img" src="" alt="studio">
                <a id="prev" class="icon fas fa-angle-left"></a>
                <a id="next" class="icon fas fa-angle-right"></a>
        </div>-->
    </section>
    <section id="explora">
        <div class="bajada">    
            <h2>Explorá</h2>
            <h3>Darwin Studios es una fábrica antigua de más de 7.000 m² reconvertida en complejo de locaciones, salón de eventos, espacio de oficinas y estudios privados en pleno Distrito Audiovisual de Palermo.</h3>
        </div>
        <div class="grid">
            <div @click="infoEspacio(0)" class="grid-elem" style="background-image:url('{% static 'img/Niceto.png'%}')"><div class="filter"></div><div>NAVE NICETO</div></div>
            <div @click="infoEspacio(1)" class="grid-elem" style="background-image:url('{% static 'img/Darwin.png'%}')"><div class="filter"></div><div>NAVE DARWIN</div></div>
            <div @click="infoEspacio(2)" class="grid-elem" style="background-image:url('{% static 'img/Fabrica.png'%}')"><div class="filter"></div><div>NAVE FÁBRICA</div></div>  
            <div @click="infoEspacio(3)" class="grid-elem" style="background-image:url('{% static 'img/Hall.jpg'%}')"><div class="filter"></div><div>HALL</div></div>
            <div @click="infoEspacio(4)" class="grid-elem" style="background-image:url('{% static 'img/StudioD.jpg'%}')"><div class="filter"></div><div>STUDIO D</div></div>
            <div @click="infoEspacio(5)" class="grid-elem" style="background-image:url('{% static 'img/Studio1+1.png'%}')"><div class="filter"></div><div>1+1 STUDIO</div></div>                
            <div @click="infoEspacio(6)" class="grid-elem" style="background-image:url('{% static 'img/Exteriores.jpg'%}')"><div class="filter"></div><div>EXTERIORES</div></div>
            <div @click="infoEspacio(7)" class="grid-elem" style="background-image:url('{% static 'img/Terraza.png'%}')"><div class="filter"></div><div>TERRAZA Y DEPÓSITOS</div></div>
            <div class="pop-up" v-show="popUp">
                <div class="cuadro" scrolling="yes" v-on:swipeleft="pasarFoto">
                    <div class="carrousel">
                        <img v-bind:src="imagenEspacio" v-bind:alt="titulo" v-bind:title="titulo">
                        <div id="next" class="icon fas fa-angle-right" @click="pasarFoto()" tabindex="0"></div>
                        <div id="back" class="icon fas fa-angle-left" @click="retrocederFoto()" tabindex="0"></div>
                    </div>
                    <div class="texto">
                        <h4>{[titulo]}</h4>
                        <br>
                        <p v-for="(val) in caracteristica">{[val]}</p>
                    </div>
                        <div class="cerrarCuadro icon fas fa-times" @click="cerrarCuadro()" tabindex="0"></div>
                </div>
            </div>
            <a href="#servicios" class="ver-mas"><div class="fas fa-long-arrow-alt-down"></div></a>
        </div>
    </section>
    <section id="servicios">
        <div class="bajada">    
            <h2>Servicios</h2>
        </div>
        <div class="grid">
            <article class="grid-elem"><h4>Locaciones</h4><h5>Alquiler por jornada para filmaciones, videoclips, publicidades y producciones de fotografía.</h5></article>
            <article class="grid-elem"><h4>Venue</h4><h5>Multiespacio versátil, adaptable  a cualquier tipo de evento y formato: presencial, híbrido o virtual.</h5></article>
            <article class="grid-elem"><h4>Streaming</h4><h5>Operación de cámaras, luces y edición para transmisión por streaming en vivo o diferido.</h5></article>
            <article class="grid-elem"><h4>In-house</h4><h5>Alquiler de oficinas y estudios privados, mesas compartidas, salas de reunión y depósitos. </h5></article>
        </div>                
    </section>
{% endblock %}