{% extends "base.html" %}
{% load static %}
{% block title %}Nosotros | Darwin Studios{% endblock %}
{% block main %}
    <div id="nosotros" class="fs-images">
        <div class="textoNosotros">
            <h2>Nosotros</h2>
            <p>Darwin Studios es un complejo de locaciones, salón de eventos, espacio de oficinas y estudios privados que surge de la reconversión de una de las fábricas de muebles más antigua de la Ciudad de Buenos Aires.</p>
            <p>La remodelación original conservó el espíritu fabril de los más de 7.000 m2 que tiene el edificio, ubicado en pleno Distrito Audiovisual de Palermo.</p>
            <p>El complejo ofrece una variedad de espacios y facilidades que lo convierten en un lugar único.</p> 
            <p>Naves con techos de 9 metros de altura y pasarelas técnicas con parrillas que favorecen el montaje, ventanales tipo fábrica, fachadas industriales, un exterior amplio que incluye una calle de adoquín, terrazas, rampa para ingresar vehículos, cocina profesional, oficinas, depósitos, escaleras antiguas, montacargas y sala de máquinas.</p>
            <p>Trabajamos cada día con el objetivo de facilitar el acceso a nuestra Casa a todos los creadores de contenido.</p>
        </div>
        <img src="{% static 'img/darwin_studios_nosotros.jpg' %}" alt="Nosotros">
    </div>
{% endblock %}